<!--Migrator-->
<div class="modal full fade dark" id="migrator" role="dialog" aria-labelledby="migratorLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="migratorLabel"><i class="fa fa-play-circle"></i> &nbsp; <span></span></h4>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group-group green">
                <h4><%-lang['']%></h4>
                <div class="form-group">
                    <label><div><span><%-lang['Monitor JSON']%></span></div>
                        <div><textarea name="json" class="form-control"></textarea></div>
                    </label>
                </div>
            </div>
        </form>
<!--
        <form>
          <div class="form-group-group green">
              <h4><%-lang['Connection']%></h4>
            <div class="form-group">
                <label><div><span><%-lang.Username%></span></div>
                    <div><input class="form-control" name="name" value=""></div>
                </label>
            </div>
            <div class="form-group">
                <label><div><span><%-lang['Password']%></span></div>
                    <div><input class="form-control" name="password" type="password" value=""></div>
                </label>
            </div>
            <div class="form-group">
                <label><div><span><%-lang['Host']%></span></div>
                    <div><input class="form-control" name="host" value=""></div>
                </label>
            </div>
            <div class="form-group">
                <label><div><span><%-lang['Host Type']%></span></div>
                        <div><select class="form-control" name="host_type">
                            <option value="zm" selected>ZoneMinder</option>
                        </select></div>
                </label>
            </div>
          </div>
        </form>
-->
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary download_link"><i class="fa fa-download"></i> &nbsp; <%-lang.Import%></a>
      <button type="button" class="btn btn-default" data-dismiss="modal"><%-lang.Close%></button>
    </div>
    </div>
  </div>
</div>
<script>
    $.migrator = {
        e : $('#migrator')
    }
    $.migrator.f = $.migrator.e.find('form')
    $.migrator.f.submit(function(e){
        e.preventDefault()
        var postMonitor = function(v){
            $.post($.ccio.init('location',$user)+$user.auth_token+'/configureMonitor/'+$user.ke+'/'+v.mid,{data:JSON.stringify(v,null,3)},function(d){
                $.ccio.log(d)
            })
        }
        var form = $.migrator.f.serializeObject()
        switch(form.host_type){
            case'zm':
                $.get(form.host+'/index.php?username='+form.name+'&password='+form.password+'&action=login&view=console',function(data){
                    console.log(data)
                })
            break;
        }
        return false
    })
</script>